.vt{
    color:blue;
    font size: 25px;
}

#vt1{
    color:brown;
}

div{
    height: 200px;
    width: 200px;
    background-color:aqua;
    text-align:center;
    align-content:center;
    padding: 5px;
}

